<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="~/css/site.css" rel="stylesheet" />



    <title>Document</title>
</head>
<body>
    <div class="cuerpo">

    <div class="titulo">
        <h2>Bienvenido a mi pagina web</h2>
    </div>

    <div class="Botones">
        <div id="gestionPr">
        <button type="button" class="btn btn-outline-secondary">Gestion de Productos</button>
        </div>
        <div id="registro">
            <button type="button" class="btn btn-outline-secondary">Registro</button>
        </div>
        <div id="gestionUser">
            <button type="button"  class="btn btn-outline-secondary">Gestion de Usuarios</button>
        </div>
    </div>
    </div>
</body>
</html>

